.card_add 
  .top_logo
    = image_tag "logo.png", class:"logo"
  .title クレジットカード情報入力
.create
  .create__frame
    .create__frame__message
      登録が完了しました。
    %ul.create__frame__btns
      %li.page_link
        = link_to "トップページに戻る", root_path, class:"back_btn"
